body, html {
    background-color: #202124;
    color: #bdc1c6;
    height: 100%;
    min-width: 400px;
    font-size: 14px;
    font-family: arial,sans-serif;
    margin: 0;
}

#header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

a {
    color: #e8eaed;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    padding-bottom: 30px;
}

#logo-div {
    margin-top: auto;
    position: relative;
}

#logo {
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

.bar {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #202124;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 584px;
    align-items: center;
}

.bar:focus-within {
    background-color: #5f6368;
}

.bar > svg {
    width: 20px;
    fill:#9aa0a6;
    padding-left: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
}

input[type="submit"] {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:hover {
    border-color: #5f6368;
}

input[type="text"]{
    background-color: transparent;
    border: none;
    padding-left: 14px;
    padding-right: 14px;
    color: #e8eaed;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
}

.buttons {
    padding-top: 20px;
}

#images-word {
    color: #4487f6;
    left: 215px;
    bottom: 5px;
    position: absolute;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
}

h1 {
    color: #f28b82;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    font-size: 24px;
}

.adv-form {
    display: grid;
    grid-template-columns: auto 500px;
    justify-content: left;
    row-gap: 10px;
    column-gap: 15px;

}

.adv-form > input[type="text"] {
    border: 1px solid #5f6368;
    height: 24px;
}

.adv-form > input[type="text"]:focus {
    border-color: #8ab4f8;
}

.adv-wrap {
    padding-left: 30px;
}

.adv-btn {
    grid-column-start: 2;
    width: 100%;
}

.adv-btn> input[type="submit"] {
    float: right;
    margin: 10px 0;
    background-color: #8ab4f8;
    color: #202124;
}
.adv-btn> input[type="submit"]:hover {
    background: #aecbfa;
    border-color: #8ab4f8;
}

hr {
    border-color: #3d3d3d;
    border-top: 0;
}
